/* Simply remove the @font-face block entirely */

@import "colors.css";

* {
  /* GTK will look for these in your system fonts automatically */
  /* all: unset; */
  all: unset;
  font-family:
    "psudoFont Liga Mono", "JetBrainsMono Nerd Font", "Noto Sans Mono CJK TC",
    "Noto Sans CJK TC", "Source Han Sans TC", "Noto Sans CJK SC",
    "Source Han Sans SC", "Noto Sans CJK JP", "Noto Sans Thai",
    "Noto Color Emoji", sans-serif;
  font-size: 15px;
}

window#waybar {
  background: none;
  color: @base0;
}

.modules-left {
  /* padding: 2px 2px; */
  /* margin: 2px; */
  /* border-radius: 10px; */
}

.modules-center {
  padding: 2px 2px;
  /* margin: 2px; */
  /* border-radius: 10px; */
}

.modules-right {
  /* padding: 2px 2px; */
  /* margin: 2px; */
  /* border-radius: 10px; */
  /* background: alpha(grey, .6); */
}

tooltip {
  background: @base02;
  color: @base0;
  padding: 5px 5px;
  border-radius: 10;
}

#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  transition: all 200ms ease-in-out;
  color: @base0;
}

#custom-notification {
  padding: 0px 5px;
  transition: all 0.3s ease-in-out;
  color: @base0;
}

#custom-calendar {
  font-family: "Noto Sans CJK SC";
  color: @base0;
}

#workspaces {
  /* background-color: red; */
  /* min-width: 100px; */
  /* font-size: 0.1rem; */
  padding: 0px 2px;
  margin: 10px 0;
  border-radius: 66px;
}

#workspaces button {
  background-color: @base02;
  color: transparent;
  padding: 0px 5px;
  margin: 0px 1px;
  border-radius: 9px;
  min-width: 9px;
}

#workspaces button:hover {
  color: @green;
}

#workspaces button.active {
  min-width: 1.5rem;
  background: @cyan;
  color: @cursor;
  border: none;
  border-radius: 10px;
  transition: none;
}

#window {
  /* background: @base3; */
  color: @base0;
  font-size: 15;
  border-radius: 99px;
  /* margin: 7px 0px; */
  padding: 2px 6px;
}

#bluetooth {
  padding: 0 10px 0 5px;
  margin: 2px 0;
  transition: all 0.3s ease;
  color: white;
}

#pulseaudio {
  background-color: @base02;
  padding: 0 10px 0 5px;
  margin: 10px 0;
  border-radius: 0px 10px 10px 0px;
}

#cava {
  /* margin: 0 0 0 0; */
  font-size: 0.7rem;
  letter-spacing: 1px;
}

#network {
  border-radius: 3px;
  padding: 0 5px;
  margin: 10px 0;
  transition: all 0.3s ease;
  color: @base0;
  background: @base01;
}

#battery {
  padding: 0px 5px;
  margin: 10px 0;
  background-color: @green;
  color: @base03;
  border-radius: 10px;
}

#battery.charging {
  background-color: @green;
}

#battery.warning:not(.charging) {
  background-color: @yellow;
}

#battery.critical:not(.charging) {
  background-color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  color: white;
}

#custom-fcitx {
  background: @base01;
  color: @base0;
  margin: 10px 2px;
  padding: 0 4px;
  border-radius: 3px;
}
