/* Simply remove the @font-face block entirely */

@import "colors.css";

* {
  /* GTK will look for these in your system fonts automatically */
  /* all: unset; */
  all: unset;
  font-family:
    "psudoFont Liga Mono", "JetBrainsMono Nerd Font", "Noto Sans Mono CJK TC",
    "Noto Sans CJK TC", "Source Han Sans TC", "Noto Sans CJK SC",
    "Source Han Sans SC", "Noto Sans CJK JP", "Noto Sans Thai",
    "Noto Color Emoji", sans-serif;
  font-size: 15px;
}

window#waybar {
  background: transparent;
}

/* shared pill styling */
#workspaces,
#window,
#clock,
#custom-notification,
#language,
#pulseaudio,
#network,
#battery {
  background-color: @surface;
  color: @text;
  border-radius: 14px;
  padding: 4px 12px;
  margin: 0 3px;
}

/* WORKSPACES ------------------------------------------------------- */
#workspaces {
  padding: 2px 6px;
}

#workspaces button {
  color: @muted;
  padding: 0 6px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  color: @bg;
  background-color: @primary;
}

#workspaces button.urgent {
  color: @bg;
  background-color: @accent_blue;
}

#workspaces button:hover {
  background-color: alpha(@primary, 0.25);
  color: @text;
}

/* WINDOW TITLE ------------------------------------------------------ */
#window {
  color: @muted;
  font-weight: 400;
}

/* CLOCK -------------------------------------------------------------- */
#clock {
  color: @text;
  font-weight: 600;
  background-color: @primary;
  color: @bg;
}

/* RIGHT MODULES ------------------------------------------------------ */
#custom-notification {
  color: @accent_blue;
  padding: 0 8 2 6px;
}

#language {
  color: @accent_blue;
  font-weight: 700;
}

#pulseaudio {
  color: @text;
}

#pulseaudio.muted {
  color: @muted;
}

#network {
  color: @text;
}

#network.disconnected {
  color: @accent_blue;
}

#battery {
  color: @text;
}

#battery.warning:not(.charging) {
  color: #e0b972;
}

#battery.critical:not(.charging) {
  color: #c77b6c;
  background-color: @surface;
}

#battery.charging {
  color: @primary;
}

/* TOOLTIPS ------------------------------------------------------------ */
tooltip {
  background: @surface;
  border: 1px solid @primary;
  border-radius: 10px;
}

tooltip label {
  color: @text;
  padding: 4px;
}

/* CALENDAR ------------------------------------------------------------ */
#calendar {
  background: @surface;
  color: @text;
}

#custom-fcitx {
  background: @surface;
  color: @base0;
  margin: 2px;
  padding: 0 4px;
  border-radius: 4px;
}
